main .inner-wrap{
    width: 60%;
    height: 550px;
}
main .form-control{
    border: 1px solid var(--text-priority);
}
main .mb-3{
    overflow: hidden;
}
main .btn{
    width: 100%;
    border-radius: 30px;
    background-color: var(--btn-cta);
    border: none;
    transition: all 1.5s ease;
}
main .btn-log-in{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
}


